name: Trigger auto deployment for fidelius-hip

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/fidelius-hip-AutoDeployTrigger-492f9d3c-4374-45c0-a161-d90de59626d4.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.FIDELIUSHIP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FIDELIUSHIP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FIDELIUSHIP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.FIDELIUSHIP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FIDELIUSHIP_REGISTRY_PASSWORD }}
          containerAppName: fidelius-hip
          resourceGroup: systsol
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


